<div class="tittle">
  <h1>Detalle de la compra</h1>
</div>
<div class="container">

  <h3>Productos</h3>
  <table>
    <thead class="headers">
      <th>Producto</th>
      <th>Precio</th>
      <th>Subtotal</th>
    </thead>

    <tbody *ngFor="let product of products">
      <tr class="text">
        <td>{{product.product_name}}</td>
        <td>${{product.product_price}}</td>
        <td>${{product.cantidad * product.product_price!}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="row-left">
      <h4>Total: $</h4>
      <p>{{total}}</p>
    </div>
    <div class="clear"></div>
  </div>

  <hr>

  <h3>Datos de envío</h3>

  <form [formGroup]="form">
    <div class="datos-envio">
      <div>
        <p>Nombre</p>
        <input formControlName="nombre" class="input1" type="text" value="{{user.full_name}}">
      </div>
      <div>
        <p>Teléfono</p>
        <input formControlName="telefono" class="input1" type="text" value="{{user.phone}}">
      </div>
    </div>
    <div class="datos-envio">
      <div>
        <p>Dirección</p>
        <input formControlName="direccion" class="input2" type="text" value="{{user.address_line_1}}">
      </div>
      <div>
        <p>Colonia</p>
        <input formControlName="colonia" class="input2" type="text" value="{{user.address_line_2}}">
      </div>

      <div>
        <div>
          <p>Ciudad</p>
          <input formControlName="ciudad" class="input2" type="text" value="{{user.address_city}}">
        </div>
      </div>
    </div>
    <div class="datos-envio">
      <div>
        <p>Estado</p>
        <input formControlName="estado" class="input2" type="text" value="{{user.address_state}}">
      </div>
      <div>
        <p>Código postal</p>
        <input formControlName="cp" class="input2" type="text" value="{{user.address_cp}}">
      </div>
    </div>

    <br>
    <hr>

    <h3>Datos del pago</h3>
    <div class="payment">
      <div>
        <p>Nombre del propietario</p>
        <input formControlName="nombre_tarjeta" class="name" type="text">
      </div>
      <div>
        <p>Número de tarjeta</p>
        <input formControlName="numero_tarjeta" class="number" type="text">
      </div>
    </div>
    <div class="payment">
      <div>
        <p>Fecha de vencimiento</p>
        <input formControlName="fecha_vencimiento" class="date" type="text">
      </div>
      <div>
        <p>CVV</p>
        <input formControlName="cvv" class="cvc" type="text">
      </div>
    </div>
    <div class="button-container">
      <button type="button" class="buy-now" (click)="createOrder()">Confirmar compra</button>
    </div>
  </form>