.card {
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
}

.card-price,
.card-title {
    font-weight: bold;
}

.card-img-content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 130px;
}

a.btn {
    background-color: #FCDA05;
    text-align: center;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    border-radius: 25px;
    width: 50%;
    height: 35px;
}


a.btn:hover {
    background-color: #000;
    color: white;
}

.not-products {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

a:link,
a:visited {
    background-color: #FCDA05;
    color: black;
    border: 2px solid #222831;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover,
a:active {
    background-color: #FCDA05;
    color: black;
}